#blog-nav
    letter-spacing: 0.01em
    font-size: .8rem
    font-style: normal
    font-weight: 200
    color: $color-accent
    ul
      list-style-type: none
      margin: 0
      padding: 0
      line-height: 15px
      a
        margin-right: 15px
        color: color-accent
      a:hover
          underline(5px, $color-accent)
      li
        display: inline-block
        vertical-align: middle
        margin-right: 15px
        border-right: 1px dotted $color-accent
      .icon
        display: none
      li:last-child
        border-right: 0
        margin-right: 0
        a
          margin-right: 0

.nav-title
    font-size: 0.8rem !important;
    color: $color-light !important;